html{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  width: 100vh;
  height: 100vh;
}

.container canvas, .overlay{
  position: absolute;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
}

.overlay {
  top: 20px;
  left: 20px;
  color: whitesmoke;
  z-index: 1;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 100px;
}

body {
  width: 100vh;
  color: whitesmoke;
  position: absolute;
  padding: 120px 0;
  margin-left: 10rem;
}

h1, h2, h3, blockquote {
  font-family: 'Gill Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

section{
grid-column: 2 /  span 8;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.25);;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 10rem;
  margin-bottom:45rem;
}

.two{
grid-column: 2 / span 9;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.25);;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 5rem;
  margin-bottom:40rem;
  text-shadow: #242424 2px 1px 1px;
}

blockquote{
  padding: 0;
  grid-column: 2 / span 10;
  margin: 1rem;
  font-size: 4rem;
  text-shadow: #242424 2px 1px 1px;
}

.secondary{
  padding: 0;
  grid-column: 2 / span 11;
  font-size: 1rem;
  text-shadow: #242424 2px 1px 1px;
  margin-bottom: 45rem;

}

.project{
  padding: 1rem;
  grid-column: 2 / span 12;
  background: rgba(255, 255, 255, 0.25);;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 10rem;
  margin-bottom:30rem;
}



.left{
  padding: 1rem;
  grid-column: 2 / span 13;
  background: rgba(255, 255, 255, 0.25);;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 10rem;
  margin-bottom:30rem;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 4fr;
  }

  header, section, blockquote {
    grid-column: 1 / -1;
  }
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

footer nav li {
  display: flex;
}

footer a {
  display: flex;
  color: #fff;
  text-decoration: none;
}

footer .social-media a {
  color: #fff;
  display: flex;

}